@import "tailwindcss";
@source "../node_modules/flowbite-datepicker";

@font-face {
    font-family: 'quicksand';
    src: url('./assets/fonts/Quicksand-Regular.ttf');
}

@theme {
    --color-primary: #003cbf;
    --color-lightBlue: rgb(127, 173, 255);
    --color-darkBlue: rgb(15, 98, 249);
    --color-success: #5dac46;
    --font-quicksand: 'quicksand', 'sans-serif';
    --breakpoint-xxl: 1300px;
    --breakpoint-xl: 1140px;
    --breakpoint-md: 960px;
    --breakpoint-sm: 720px;
    --color-redColor: red;
    --color-lightRed: #e14b33;
    --color-darkRed: #bd110f;
    --color-blue: #1b74e7;
    --color-gray: rgb(122, 125, 141);
    --color-darkSuccess: #3d7c31;
}

* {
    font-family: 'quicksand', 'sans-serif';
}

@keyframes scalePulse {

    0%,
    100% {
        transform: scale(0.8);
        opacity: 0.7;
    }

    50% {
        transform: scale(1.1);
        opacity: 1;

    }
}

@keyframes progress_bar_fill {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 40px 0;
    }
}

.scale-pulse {
    animation: scalePulse 1.5s ease-in-out infinite;
}

.progress_bar_fill {
    animation: progress_bar_fill 2s linear infinite;
}

.sun-editor-editable {
    font-size: 18px !important;
    color: black !important;
}

.sun-editor {
    position: relative;
    z-index: 0;
}